:root{
    --color-logo1: #FFB8AA;
    --color-logo2: #FFF8F7;
    --color-logo3: #FFE9E5;
    --color-pitanga: #D43019;
    --color-pitanga-preta: #4F1711;
    --color-green-handle: #638C35;
    --color-line: #b3b3b3;

    --font-title: Charm, cursive;
    --font-pattern: Montserrat, sans-serif;
    --font-pattern2: ABeeZee, sans-serif;

}
body{
    align-content: center;
    align-items: center;
    justify-content: center;
    
}
.modal{
    width: 100%;
    height: 100vh;
    z-index: 1;
    position: fixed;
    top:0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.3);
    overflow-y: initial !important;
}
.close{
    text-align: right;
    font-size: 3rem;
    grid-area: close;   
    width: 75%;
}

.modalBody{
    width: 80%;
    height: 70%;

    display: grid;
    grid-template-columns: 320px 70%;
    grid-template-rows: 1fr 15%;
    grid-template-areas:    'modalImage modalText' 
                            'modalButtons modalButtons';
    background-color: white;
    
    border-radius: 10px;
    padding: 30px;
    
    overflow-y: auto;
}
.modalImage{
    
    grid-area: modalImage;
    align-self: center;
}
.modalImage img{
    width: 320px;
}
.modalText{
    background-color: white;
    grid-area: modalText;
    padding: 10px;
}

.modalText p{
    text-align: left;
    padding: 5px;
}

.modalTitle{
    font-weight: bold;
}
.modalProdInfo{
    text-align: left;
    font-size: 0.85rem;
    color: var(--color-line);
    margin-bottom: 1rem;
}

.modalProdDescription p{
    text-align: left;
    padding: 5px;
}

.modalButtons{
    width: 100%;
    grid-area: modalButtons;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 30px 30px;
}

.modalButtons button{
    width: 200px;
    height: 50px;
    font-size: 0.95rem;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: var(--color-green-handle);
}

#prodBody{
    display: grid;
    grid-template-columns: 200px 1fr;
    padding:10px;
    margin: 0 1rem;

    padding-bottom: 8rem;
}

#sideMenu{
    border-right: 1px solid var(--color-line);    
}

#sideMenu p{
    font-weight: bold;
    font-size: 1.25rem;
    text-align: left;

    margin: 1rem 0;
}

#sideMenu li{
    text-align: left;
    padding: 0.25rem 0;
    list-style-type: none;
}


#showcase{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));  
}
.product{
    margin: 1rem;
    height: 400px;

    background-color: white;
    border: 1px solid var(--color-logo3);

    display: grid;
    grid-template-rows: 2fr 1fr 1fr;
    align-content: center;
    justify-content: center;
}

.imageContainer {
    width: 220px;
    position: relative;
}
.imageContainer a img{
    width: 100%;
}

.product:hover .infoRapida{
    height: 2rem;
    transition: height 0.2s;
}
.infoRapida{
    background-color: rgba(0,0,0,0.7);
    color: var(--color-logo2);
    height: 0;
    width: 100%;
    position: absolute;
    bottom:0;
    overflow: hidden;
    
    display: flex;
    justify-content: center;
    align-items: center;

    transition: height 0.2s;
}

.prod-desc{
    font-size: 0.85rem;
}

.prod-name{
    font-size: 1rem;
    font-weight: 700;
    margin: 1rem 0;
}


.prod-price{
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--color-line);
    width: 90%;
    justify-self: center;
    justify-content: center;   
    
}

.old-price{
    font-size: 0.9rem;
    color:gray;
    text-decoration: line-through;
    
}

.price{
    color: var(--color-green-handle);
    font-weight: 400;
    font-size: 1.5rem;
}