@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');
:root{
    --color-logo1: #FFB8AA;
    --color-logo2: #FFF8F7;
    --color-logo3: #FFE9E5;
    --color-pitanga: #D43019;
    --color-pitanga-preta: #4F1711;
    --color-green-handle: #638C35;
    --color-lines: #b3b3b3;

    --font-title: Charm, cursive;
    --font-pattern: Montserrat, sans-serif;
    --font-pattern2: ABeeZee, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-pattern);
}

/** MENU **/

.custom-toggler .navbar-toggler-icon {
  background-image: url( 
    "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(79, 23, 17, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
}
.custom-toggler.navbar-toggler { 
  border-color: var(--color-pitanga-preta); 
}

nav{
  background-color: var(--color-logo1);
  font-size: 1.25rem;
}

nav a {
  color: var(--color-pitanga-preta);
}
#logo{
  width: 120px;
}
#exit-icon{
  width: 2rem;
}
/** END OF MENU **/


/** LOGIN **/
#login-container{
  position: absolute;
  z-index:100;
}
#login{
  width:250px;
  height:350px;
  background-color: var(--color-logo1);
}

#signin-btn{
  background-color: var(--color-pitanga);
}
#signup-btn{
  background-color: var(--color-logo3);
}
/** END OF LOGIN **/
#btn-register{
  background-color: var(--color-pitanga-preta);
  color: var(--color-logo2);
}
/** BODY TITLE **/
.sectionTitle{
  color: var(--color-pitanga-preta); 
  padding: 10px 0 10px 10px;
  font-size: 3rem;
}

/** MEDIA **/
/** LOGIN **/
@media (max-width:570px){
  #login{
    width:100%;
  }

  #login-container{
    background-color: rgba(0,0,0,0.5);
    
  }

}