:root{
    --color-logo1: #FFB8AA;
    --color-logo2: #FFF8F7;
    --color-logo3: #FFE9E5;
    --color-pitanga: #D43019;
    --color-pitanga-preta: #4F1711;
    --color-green-handle: #638C35;
    --color-line: #b3b3b3;

    --font-title: Charm, cursive;
    --font-pattern: Montserrat, sans-serif;
    --font-pattern2: ABeeZee, sans-serif;

}

#prodBody{
    display: grid;
    grid-template-columns: 200px 1fr;
    padding:10px;
    margin: 0 1rem;

    padding-bottom: 8rem;
    
}

#sideMenu{
    border-right: 1px solid var(--color-line);    
}

#sideMenu p{
    font-weight: bold;
    font-size: 1.25rem;
    text-align: left;

    margin: 1rem 0;
}

#sideMenu li{
    text-align: left;
    padding: 0.25rem 0;
    list-style-type: none;
}


#showcase{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));  
}
.product{
    margin: 1rem;
    height: 400px;

    background-color: white;
    border: 1px solid var(--color-logo3);

    display: grid;
    grid-template-rows: 2fr 1fr 1fr;


}

.product a img{
    width: 220px;
}

.prod-desc{
    font-size: 0.85rem;
}

.prod-name{
    font-size: 1rem;
    font-weight: 700;
    margin: 1rem 0;
}


.prod-price{
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--color-line);
    width: 90%;
    justify-self: center;
    justify-content: center;   
    
}

.old-price{
    font-size: 0.9rem;
    color:gray;
    text-decoration: line-through;
    
}

.price{
    color: var(--color-green-handle);
    font-weight: 400;
    font-size: 1.5rem;
}