@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');
:root{
    --color-logo1: #FFB8AA;
    --color-logo2: #FFF8F7;
    --color-logo3: #FFE9E5;
    --color-pitanga: #D43019;
    --color-pitanga-preta: #4F1711;
    --color-green-handle: #638C35;
    --color-lines: #b3b3b3;

    --font-title: Charm, cursive;
    --font-pattern: Montserrat, sans-serif;
    --font-pattern2: ABeeZee, sans-serif;

}
*,
*::before,
*::after {
  font-family: var(--font-pattern);
}
#cadastro{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}

#form-cadastro-cliente .input-container{
  display: flex;
  flex-direction:column;
  justify-content:space-between;
  align-items:start;
  
  min-width: 300px;
  margin: 20px 0;
}

#form-cadastro-cliente .input-container input{
  width: 100%;
  height: 2rem;
  border: 1px solid var(--color-lines);
  border-radius: 10px;

  text-align: left;
  padding: 10px;
}

#form-cadastro-cliente .input-container span{
  font-size: .75rem;
}

button{
  width: 150px;
  height: 2rem;
  border: 1px solid var(--color-lines);
  border-radius: 10px;
  background-color: var(--color-logo1);

  color: white;
  margin: 40px;
  font-size: 1rem;
}

