
:root{
    --color-logo1: #FFB8AA;
    --color-logo2: #FFF8F7;
    --color-logo3: #FFE9E5;
    --color-pitanga: #D43019;
    --color-pitanga-preta: #4F1711;
    --color-green-handle: #638C35;
    --color-line: #b3b3b3;

    --font-title: Charm, cursive;
    --font-pattern: Montserrat, sans-serif;
    --font-pattern2: ABeeZee, sans-serif;

}

#contatosBody{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2rem;
    padding-bottom: 8rem;
    
    justify-content: space-evenly;

}

img{
    width:40px;
    margin-right: 1rem;
}

#contatos{
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--color-line);
    
    justify-content: center;
    
}
.contato{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
    margin:0.5rem;
}

#mensagem{
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    
}
form *{
    margin: 0.5rem;
    text-align: left;
    
}