<html>
  <body>
    <script>
      function redirect1(){
       // console.log('butterfly' == /.*fly$/i);
        document.location.href ='http://localhost:3001/products';
      }
      function redirect2(){
        document.location.href ='http://localhost:3001/front';
      }
    </script>
    <button onClick="redirect1()">Products</button>
    <!-- <button onClick="redirect2()">Or me!</button> -->
  </body>
</html>