#myorders-page{
  width: 100%;
  background: yellow;
}
.img-list{
  width: 80px;
  border: 1px solid var(--color-lines);
  border-radius: 5px;
}

.list-group{
  width: 100%;
}
.list-group-item{
  width: 100%;
}